
    
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    

<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>
<p class="ErrorMessage"> {{errorMessage}}</p>
    <!-- LOGIN FORM -->
    <form action="/meal_collection/signup" method="post">
        <div class="form-group">
            <label for="username">User Name</label>
            <input type="text" id="username" class="form-control" name="username" placeholder="User Name" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" name="password" placeholder="Password" required>
        </div>
         <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" name="name" placeholder="Name" required>
        </div>
        <div class="form-group">
            <label for="weight">Weight</label>
            <input type="text" id="weight" class="form-control" name="weight" placeholder="Weight" required>
        </div>
        <div class="form-group">
            <label for="height">Height</label>
            <input type="text" id="height" class="form-control" name="height" placeholder="Height" required>
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="text" id="age" class="form-control" name="age" placeholder="Age" required>
        </div>

        <button type="submit" class="signUpBtn">Signup</button>
        
    </form>

    <hr>

  
</div>

</div>
