<h2>Comments</h2>
<div class="col-sm-12 col-md-4">
    <form id="new-comment-form">
        <label>User Name<input id="new-comment-username" type="text" placeholder="Add in User Name"/></label>
        <label>New Comment<textarea rows="4" cols="50" id="new-comment-body"></textarea></label>
        <input type="submit" value="ADD NEW COMMENT" />
    </form>
</div>
    <div id="error-message-area">
</div>

<table class="table" id="comments-table">
    <thead>
    <tr>
        <th>UserName</th>
        <th>Comment</th>
    </tr>
    </thead>
    <tbody>
        {{#each comment}}
    <tr>
        <td>{{this.username}}</td>
        <td>{{this.comment}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>