<h2>{{pageTitle}}</h2>
    <div class="col-sm-12 col-md-4">
    <form id="new-note-form">
        <label>Note Title <input id="new-note-title" type="text" placeholder="Note Title"/></label>
        <label>Note Due Date <input id="new-note-dueDate" type="date"/></label>
        <label>Note Summary <input id="new-note-summary" type="text" placeholder="Note Summary"/></label>
        <label>Note Body <textarea rows="4" cols="50" id="new-note-body"></textarea></label>
        <input type="submit" value="ADD NEW NOTE" />

    </form>
</div>
    <div id="error-message-area">
</div>
<a href="../notes/">SEE ALL NOTES</a>

